body {
	margin-top:10px;
}

.template {
	cursor: move;
}

.drag {
	position:relative;
	z-index:50;
}

.drag-active {
	z-index:100;
}


.panel-group .panel-element {
	overflow:visible;
}

.border {
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	border: dashed 2px #CCC;
	cursor: move;
}

.drag-active .border {
	
}
		
.plop{
	position:absolute;
	top:5px;
	right:5px;
	font-size:8px;
	background-color:#333;
	color:#CCC;
}

.drop {
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
}

.drop-active {
	background:#EEE;
}

.please {
	background:#EEE;
	border: dashed 2px #999;
	margin:10px auto;
	padding:20px;
	text-align:center;
	
}

.drop-active .append{
	display:block;
}


.frame {
	border: solid 1px #CCC;
	margin : 10px;
	padding : 10px;
}