
		
		
<div class="row">

	<!-- New and Edit elements -->
	<div class="col-lg-3">
		<div class="panel-group" >
			<div class="panel panel-default panel-element" ng-repeat="group in groups">
			  <div class="panel-heading" ng-init="open=false">
				<a ng-click="open = !open" href="">{{group}}</a>
				</div>
				 <div id="{{group}}"  ng-show="open">					  
					<a class="btn btn-info btn-block template new" ng-repeat="template in templates | filter:{ group: group }" element-new value="template">{{value.name}} </a>				
				</div>
			</div>
		</div>
	</div>

	
	<!-- Designer -->
	<div class="col-lg-9" >
		<tabset>
			<tab heading="Design">
				<div class="editor" >
					<element-view-canvas value="getElements()" />	
				</div>
			</tab>
			<tab heading="Frame">
				<div class="editor" >
					<element-view-frame value="getElements()" />
				</div>
			</tab>
			<tab heading="Json">
				<div >
					<element-view-json val="getElements()" />
				</div>
			</tab>
			<tab heading="Html">
				<div >
					<element-view-html value="getElements()" />
				</div>
			</tab>
			<tab heading="Preview">
				<div class="editor" ng-controller="stubController">
					<element-view-preview value="getElements()" />
				</div>
			</tab>

			<tab heading="Angular">
				<div ng-controller="stubController">
				

					<div class="panel panel-default">
					  	<div class="panel-heading">ngModel</div>
					    <div class="panel-body">		
							<table class="table">
								<tr ng-repeat="model in getAngular().model">
									<th width="300">{{model}}</th>
									<td>{{getData(model)}}</td>
								</tr>
							</table>
						</div>
					</div>
					
					<div class="panel panel-default">
					  	<div class="panel-heading">ngClick</div>
					    <div class="panel-body">		
							<table class="table">
								<tr ng-repeat="click in getAngular().click">
									<th width="300">{{click}}</th>
								</tr>
							</table>
						</div>
					</div>
					
					<div class="panel panel-default">
					  	<div class="panel-heading">ngBinding</div>
					    <div class="panel-body">		
							<table class="table">
								<tr ng-repeat="binding in getAngular().binding">
									<th width="300">{{binding}}</th>
								</tr>
							</table>
						</div>
					</div>
					
				</div>
			</tab>
			
			
		</tabset>
	</div>

</div>

 <div>
  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
	  <div class="modal-content">
		<div class="modal-header">
		  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		  <h4 class="modal-title">Edit element</h4>
		</div>
		<div class="modal-body">
			<tabset>
				<tab heading="Element">
					<div ng-include="'partials/form_element.html'" ></div>
				</tab>
				<tab heading="Html">
					<div ng-include="'partials/form_html.html'" ></div>
				</tab>
				<tab heading="Angular">
					<div ng-include="'partials/form_angular.html'" ></div>
				</tab>
				<tab heading="Validation">
					<div ng-include="'partials/form_validation.html'" ></div>
				</tab>
			</tabset>
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		  <button type="button" class="btn btn-primary" ng-click="remove()">Remove</button>
		  <button type="button" class="btn btn-primary" ng-click="save()">Save changes</button>
		</div>
	  </div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</div>
