<!-- Input for id -->
<div class="form-group">
	<label for="htmlId">Id</label>
	<input id="htmlId" type="text" class="form-control" placeholder="Id" ng-model="element.id">
</div>

<!-- Input for class -->
<div class="form-group">
	<label for="htmlClass">Class</label>
	<input id="htmlClass" type="text" class="form-control" placeholder="Class" ng-model="element.class">
</div>

<!-- Input for style -->
<div class="form-group">
	<label for="htmlStyle">Style</label>
	<input id="htmlStyle" type="text" class="form-control" placeholder="Style" ng-model="element.style">
</div>